.load-img {
    margin-top: 30px;
}

.close_btn {
    margin-top: 24px;
    width: 100%;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #D5D5D5;

    color: #505050;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    text-transform: uppercase;
}